   # Ignore configuration files
   *.cfg

   # Ignore weights files
   *.weights

   # Ignore virtual environment directory
   .venv/

   # Ignore node_modules directory
   node_modules/

   images/

   *.env